body {
	font-family: sans-serif;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

header {
    color: #b31c76;
    background-color: chartreuse;
}

main {
	padding: 3em 0;
	font-size: 20px;
}

footer {
    color: blue;
    background-color: coral;
}